.content {
    display: flex;
}

.content h1 {
    color: $main-title;
}

.content h2 {
    color: $sub-title;
}

.left {
    flex: 1;
    border: 1px solid red;
}

.mid {
    flex: 1;
    border: 1px solid red;
}

.right {
    flex: 1;
    border: 1px solid red;
}