footer {
    display: flex;
    height: 80px;
    color: $main-title;
    font-size: $s-size;
    justify-content: space-evenly;

    ul {
        display: flex;
        max-width: 600px;
        margin: 100px 0;
        list-style: none;

        li {
            width: 100px;
        }
    }
}