header {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 $m-size;
  font-size: $s-size;
}

.toplinks {
  display: flex;
}

.toplinks-login {
  display: flex;
  align-items: center;
  color: $sub-title;
}

.toplinks-register {
  display: flex;
  align-items: center;
  color: $main-title;
  margin-left: $l-size;
}

.login {
  margin-left: 0.5rem;
}

.register {
  margin-left: 0.5rem;
}