header {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

#toplinks {
  list-style: none;
  display: flex;
  font-size: $s-size;
  width:200px;
}
  
#toplinksReg {
  color: #ffdd38;
  padding-top: 3px;
}
  
#toplinksLog {
  color: #ce2131;
  padding-top: 3px;
}
  
.cherrySm {
  width: 20px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 5px;
  vertical-align: top;
}