.home--content {
    display: flex;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 $m-size;
  
  h2 {
    color: $sub-title;
    font-size: $m-size;
  }
}

.home--left {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
.home--middle {
  display: flex;
  flex: 1;
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
  padding: 0 30px;
  margin-left: 30px;

}

.home--right {
  display: flex;
  flex: 1;
}

.home--feature-image {
  display: flex;
  align-items: center;

  img {
    height: 160px;
    max-width: 100%;
    margin: 1rem;
  }
}

.home--dashboard-panel {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

.home--dashboard {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px 0;
}

.home--messages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .icon-berry-small {
    margin-left: 2rem;
  }
}

.home--chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .icon-berry-small {
    margin-left: 2rem;
  }
}

.home--friends {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .icon-berry-small {
    margin-left: 2rem;
  }
}

.home--edit {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
  font-size: $s-size;
  font-weight: 200;
  color: $main-title;
  }

  .icon-berry-small {
    margin-left: 2rem;
  }
}

.home--view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: $s-size;

  h2 {
    font-size: $s-size;
    font-weight: 200;
    color: $main-title;
    }
  
  .icon-berry-small {
    margin-left: 2rem;
  }
}

.home--search {
  border-top: $sub-title solid 2px;
  border-bottom: $sub-title solid 2px;
  color: $sub-title;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home--search-nearby {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon-berry-medium {
    margin-left: auto;
  }
}

.home--search-city {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .landing--search-box {
    margin: auto;
  }
}

.home--search-box {
  width: 150px;
  height: 20px;
}

.home--advanced-search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon-berry-medium {
    margin-left: auto;
  }
}