.search {
    border-top: #ffdd38 solid 2px;
    border-bottom: #ffdd38 solid 2px;
  }
  
  .searchBox input {
    width: 150px;
    height: 20px;
  }
  
  .searchCity {
    vertical-align: middle;
    margin-left: 0;
    display: inline-block;
    margin: 10px;
  }

  .content {
    font-family: 'Lato', sans-serif;
    margin: 0;
  }
  
  .content h1 {
    text-align: center;
  }

  h1 {
    color: #ce2131;
    font-size: 1.7em;
  }
  
  h2 {
    color: #ffdd38;
  }
  
  p {
    font-weight: 200;
  }
  
  .iconsm {
    color: #ffdd38;
    font-weight: 300;
  }
  
  .iconexcl {
    color: #ce2131;
    font-weight: 300;
  }