.landing--content {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 $m-size;

  h1 {
  color: $main-title;
  font-size: $l-size;
  }
}

.landing--feature-image {
  display: flex;
  align-items: center;

  img {
    height: 240px;
    max-width: 100%;
    margin: 1rem;
  }
}

.landing--intro {
  display: flex;
  color: white;
  font-size: $s-size;
  flex-direction: column;
  align-items: center;
  

  p {
    width: 50%;
    text-align: center;
    margin: 0 30px;
    padding-bottom: 4rem;
    line-height: 2rem;
  }
}

.landing--left {
  display: flex;
  flex: 2;
  justify-content: center;
}

.landing--middle {
  display: flex;
  flex-direction: column;
  flex: 3;

}

.landing--right {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.landing--search {
  border-top: $sub-title solid 2px;
  border-bottom: $sub-title solid 2px;
  color: $sub-title;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing--search-nearby {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon-berry-medium {
    margin-left: 5rem;
  }
}

.landing--search-city {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .landing--search-box {
    margin: auto;
  }
}

.landing--search-box {
  width: 150px;
  height: 20px;
}