html {
    font-size: 62.5%;
}

body {
    background: $brand-background;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
  color: white;
}

//Layout
.content {
  display: flex;
  width: 50rem;
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 100rem;
  padding: 0 $m-size;
  color: white;
}